@import url('https://fonts.googleapis.com/css2?family=your-font-name&display=swap');
:root{
 --primary-color:#56CBF9;
 --secondary-color: #7FBEEB;
 --accent1-color: #AFBED1;
 --accent2-color: #f6f6f8;
}

header a{
 color:var(--primary-color)
}

*{
 padding: 0;
 margin:0;
 box-sizing: border-box;
}
a{
 text-decoration: none;
}
div .hero{
 position: relative;
}
.hero img{
 display: block;
 width: 100%;
 height: auto;
}
h1{
 position: absolute;
 top:10rem;
 background-color: black;
 z-index: 1;
 opacity: 0.7;
 left:20%;
 padding:0 10rem 0 10rem;
 color:var(--accent1-color)
}
article .hero2{
 width: 150px;
 height: auto;
 float: right;
}
 article{ 
 position: absolute;
 top:13rem;
 background-color: var(--secondary-color);
 width: 100%;
 text-align: center;
 opacity:0.8;
 
}
article p{
 color:var(--accent2-color);
 padding: 30px 0 0 0
}
.sociallinks img {
width: 2rem;
height:auto ;
}