@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');
:root{
 --primary-color:#56CBF9;
 --secondary-color: #7FBEEB;
 --accent1-color: #AFBED1;
 --accent2-color: #DBD8F0;

 --heading-font:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
 ;
 --paragraph-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


 --nav-background-color: #dbd8f0 ;
 --nav-link-color: #121213;
 --nav-hover-link-color: #9f9ffa;
 --nav-hover-background-color: #d7a9f500;
}
body{
 font-family: var(--paragraph-font) ;
 max-width:960px;
 padding:20px;
}
h1, h2, h3, h4, h5, h6{
 font-family: var(--heading-font);
 color: var(--primary-color);
}
header{
 padding:20px;
 background-color: var(--accent2-color) ;
}
p{
 padding: 20px;
}
nav{
 background-color: var(--nav-background-color);
 font-size: 1.2rem;
 display:flex;
}

nav a{
 display: block;
 color: var(--nav-link-color);
 text-decoration: none;
 padding: 1rem;
}
nav a:link, nav a:visited{
 color: var(--nav-hover-link-color);
}
nav a:hover{
 color:var(--nav-hover-link-color);
 background-color: var(--nav-hover-background-color);
}

