*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
main img{
 width: 150px;
 height:auto;
 box-sizing: border-box;
 padding: 2px;
 box-shadow: 0 0 30px #333;
 border: 1px solid steelblue;
 float: right;
 margin: 0 0 1rem 2rem
}
main{
 max-width: 840px
}
nav a {
 color:white;
 display:block;
 padding: 18px;
}
nav{
 background-color: steelblue;
 padding: 10px;
}
h1{
 color: steelblue;
}
aside{
 width: 20em;
 text-align: center;
 position: relative;
}
aside img{
 width:200px;
 height: auto;
 text-align: center;
}
p{
 padding:0;
}
footer{
 margin-top:15px;
 border-top: 1px solid #000;
 text-align: center;
}
/* class selectors */

.box{
 margin:1rem;
 padding:1rem ;
 border: 1px solid rgba(0, 0, 0, .1);
 background-color: #ddd;
 color: #000;
}
aside h2{
 position: absolute;
 top:47px;
 left:150px;
}